.admin-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.admin-category{
    width: 25%;
    border-radius: 3px;
    background-color: #F9F9F9;
}
.admin-category-header{
    display: flex;
    justify-content: space-between;
}

.admin-category-header h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    font-family: Arial, sans-serif;
    color: #707070;
}

.admin-logout{
    padding: 8px 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, serif;
    background-color: #4bb0f5;
}

.admin-logout:hover{
    box-shadow: 0 0 0 0 rgba(236, 143, 3, 0);
    background-position: 0 0;
    text-decoration: none !important;
    color: #fff;
    background-color: #3282b8;
}

.admin-category-container{
    padding: 15px;
}

.admin-content{
    width: 74%;
    background-color: #F9F9F9;
}

.admin__inner-panel{
   padding: 15px;
}

.add-brand{
    margin-bottom: 10px;
}

.add-brand h3{
    font-size: 34px;
    font-weight: 400;
    line-height: 34px;
    font-family: Arial, sans-serif;
    color: #707070;
}

.add-brand_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-brand-group{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.row-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 5px 0;
}

.choose-image{
    display: inline-block;
    background-color: #1f1f1d;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;

}

.add-brand-group input{
    width: 150px;
}

.add-brand-image{
    width: 50px;
    border: 1px solid #1f1f1d;
    border-radius: 3px;
    margin: auto 0;
    padding: 2px;
}

.btn-add-brand{
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    display: inline-block;
    border: 3px;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #fff !important;
    background-color: #4bb0f5;
    transition: .5s;
    margin: auto 0;
}

.admin-data-model{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.model-img{
    width: 100px;
    margin: 0 auto;
}

.admin-data-model p {
    margin: 0 auto;
}
