*{
  margin: 0;
  padding: 0;
}
*::selection{
  background-color:  #3282b8;
}

html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.content-container {
  min-height: calc(100vh - 359px);
}

body{
  font-family: Arial, sans-serif;
  background-image: url("./assets/andgleBackground.png");
  background-size: 60%
}

input{
  padding: 8px 15px;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  font-size: 14px;
  transition: linear 0.3s;
  outline: none;
}

input:focus{
  border: 1px solid #4bb0f5;

}

textarea{
  padding: 8px 15px;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  font-size: 14px;
  transition: linear 0.3s;
  outline: none;
  font-family: Arial, sans-serif;
}

textarea:focus{
  border: 1px solid #4bb0f5;

}

.container{
  width: 70%;
  margin: 0 auto;
}

.page__inner{
  border: 1px solid #E6E6E6;
  margin-top: 30px;
  padding: 28px 18px;
  background-color: #FFFFFF;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: none;
  background-image: none;
}

select::-ms-expand {
  display: none;
}




@media all and (max-width: 1366px){
  .container{
    width: 80%;
  }
}

@media all and (max-width: 1300px){
  .container{
    width: 90%;
  }
}
@media all and (max-width: 1150px) {
  .container{
    width: 95%;
  }
}

@media all and (max-width: 700px){
  .container{
    width: 95%;
  }
}
