.page__inner text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
    margin-top: 20px;
}

.page__inner span{
    font-weight: 700;
}

.button-div{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.contact-link{
    padding: 20px 50px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, serif;
    background-color: #4bb0f5;
}

.center-text{
    text-align: center;
}
